services:
  db:
    image: postgres
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U clinic_user -d clinic_db" ]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - ./data/db:/var/lib/postgresql
    env_file:
      - .env

  web:
    build:
      context: .
      dockerfile: Dockerfile
    command: >
      sh -c "python manage.py wait_for_db &&
            python manage.py migrate &&
            python manage.py runserver 0.0.0.0:8000"
    volumes:
      - ./:/code
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db

  redis:
    image: "redis:alpine"

  celery:
    build:
      context: .
      dockerfile: Dockerfile
    command: "celery -A config worker -l INFO"
    depends_on:
      - web
      - redis
      - db
    restart: on-failure
    env_file:
      - .env

#  celery-beat:
#    build:
#      context: .
#      dockerfile: Dockerfile
#    command: >
#      sh -c "python manage.py wait_for_db &&
#             celery -A rick_and_morty_api beat -l INFO --scheduler django_celery_beat.schedulers:DatabaseScheduler"
#    depends_on:
#      db:
#        condition: service_healthy
#      web:
#        condition: service_started
#    restart: on-failure
#    env_file:
#      - .env
#
#  flower:
#    build:
#      context: .
#      dockerfile: Dockerfile
#    ports:
#      - "5555:5555"
#    command: >
#      sh -c "python manage.py wait_for_db &&
#             flower -A rick_and_morty_api --port=5555 --broker=${CELERY_BROKER_URL}"
#    depends_on:
#      - celery
#      - redis
#      - db
#    env_file:
#      - .env

